<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="testapp01"
         name="Test Application #1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="my.test.mmf.core.plugin.TestApp01">
         </run>
      </application>
   </extension>

</plugin>
